{
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "tabWidth": 2
}
