@import '../../styles/applications.scss';

.input,
.inputError {
  position: relative;
  input {
    border: 0.1rem solid $light-gray;
  }
  .star {
    position: absolute;
    top: 0rem;
    right: 0.75rem;
    i {
      font-size: 0.65rem;
      color: $light-gray;
      line-height: 0;
    }
  }
  .filled {
    border: 0.1rem solid $green;
    ~ .errorMessage {
      display: none;
    }
    ~ .star {
      i {
        color: $light-gray;
      }
    }
  }
}
.inputError {
  input {
    border: 0.1rem solid $error;
  }
  .star {
    i {
      color: $error;
    }
  }
  .errorMessage {
    text-align: left;
    font-size: $text-small;
    color: $error;
    position: absolute;
    @include mobile-breakpoint {
      font-size: 1.2rem;
    }
  }
  .filled[type='date'] {
    border: 0.1rem solid $error;
    ~ .errorMessage {
      display: none;
    }
  }
}
