@import '../../styles/applications.scss';
button {
  position: absolute;
  right: 4%;
  top: 4%;
  z-index: 2;
  cursor: pointer;

  width: 50px;
  height: 50px;
  background: $green;
  border-radius: 50%;
  border-style: none;

  color: #fff;
  font-weight: bolder;
  font-size: 2em;
  transition: 0.3s;

  &:hover {
    filter: drop-shadow(-1px 1px 10px rgba(0, 0, 0, 0.2));
  }
}
