@import '../../styles/applications.scss';

.toast {
  top: 1rem;
  right: 0.5rem;
  font-size: $text;
  color: #fff;
  .Toastify__progress-bar {
    background: rgba(31, 31, 31, 0.35);
  }
  .Toastify__close-button {
    color: $gray;
  }
  @include mobile-breakpoint {
    width: 95vw;
    right: 0;
    float: center;
    margin: 0 auto;
  }
}
.success {
  background: $green;
}
.failure {
  background: $error;
}
