@import '../../styles/applications.scss';

.contentContainer {
  @include main();
  @include tablet-breakpoint {
    @include main(calc(100vw - 12rem));
  }
  @include mobile-breakpoint {
    @include main(100vw);
  }
  overflow-y: scroll;
  .searchbar {
    width: 30rem;
    position: absolute;
    top: 4rem;
    right: 3rem;
    @include tablet-breakpoint {
      top: 2rem;
      width: 20rem;
    }
    @include mobile-breakpoint {
      width: 100%;
      position: initial;
    }
  }
}
