@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cuckooCard {
  @include grid(0, 1.5rem, 4.5rem 1fr);
  border-bottom: 0.1rem solid #eef1f0;
  padding: 1.5rem 0;
  position: relative;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  .author {
    color: $light-gray;
    font-size: $text-small;
    margin-bottom: 1rem;

    span {
      font-size: $text-small;
      text-transform: capitalize;
    }
  }

  .seeMore {
    color: $green;
    font-size: $text-small;
    cursor: pointer;
  }

  .detailsWrapper {
    display: flex;
    margin-top: 1rem;

    div {
      display: flex;
      p {
        margin: 0 1.5rem 0 0.5rem;
        font-size: $text-small;
      }
    }
  }
}
