@import '../../styles/applications.scss';

.btnContainer {
  button {
    z-index: 2;
    cursor: pointer;

    width: 5rem;
    height: 5rem;
    background: $green;
    border-radius: 50%;
    border-style: none;

    color: #fff;
    font-size: 2rem;
    transition: 0.3s;

    &:hover {
      filter: drop-shadow(-0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2));
    }
  }

  .closeBtn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    transform: rotate(45deg);
  }
}
