@import '../../styles/applications.scss';

.form {
  width: 40rem;
  position: relative;
  @include mobile-breakpoint {
    width: 28rem;
  }
  div {
    margin-bottom: 2.5rem;
  }
  button {
    background: $green;
    color: #fff;
    width: 100%;
    text-align: center;
    span {
      width: 100%;
    }
  }
  .errorMessage {
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
    font-size: $text-small;
    color: $error;
    position: absolute;
    @include mobile-breakpoint {
      font-size: 1.2rem;
    }
  }
}
