@import '../../styles/applications.scss';

.content {
  @include flex();
  background-color: $green;
  width: 100%;
  height: 100vh;

  div {
    text-align: center;
    padding: 2rem;

    .logo {
      width: 100%;
      // ONLY IF BIGGER THAN PHONE SIZE
      // min-width: 30rem;
    }

    h1 {
      margin: 1.5rem 0 18.5rem 0;
      color: white;
    }

    a {
      display: inline-block;
    }
  }
}
