@import '../../styles/applications.scss';
body{
    background-color: $gray;
}
.landing {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h1 {
    margin-top: 1.5rem;
    color: white;
    }

    button {
    width: 24.0rem;
    height: 4.4rem;
    border-radius: .5rem;
    margin-top: 21.5rem;
    color: $gray;
    padding: 0 1.7rem;
    text-align: left;
    }
}