@import '../../styles/applications.scss';

.content {
  @include main($mainWidth: 100vw, $mainHeight: 100vh, $mainBackground: $green);
  @include flex($direction: column);

  .logo {
    width: 50%;
    // ONLY IF BIGGER THAN PHONE SIZE
    // min-width: 30rem;
  }

  h1 {
    margin: 1.5rem 0 18.5rem 0;
    color: white;
  }
}
