@import '../../styles/applications.scss';

.contentContainer {
  @include main();
  @include grid(0, 2rem, 2fr 1fr);
  @include tablet-breakpoint {
    @include main(calc(100vw - 12rem), $mainPadding: 1rem 1.8rem);
    @include grid(2rem, 0, 1fr);
  }
  @include smallTablet-breakpoint {
    overflow-y: scroll;
  }

  @include mobile-breakpoint {
    @include main(100vw, fit-content, $mainPadding: 9rem 1rem);
    position: relative;
    display: block;
  }
}
