@import '../../styles/applications.scss';

.companyMain {
  .company {
    @include flex($align: center, $justify: flex-start);
    padding: 5rem 0;
    border-bottom: 0.2rem solid #d8d8d8;

    .logoBox {
      border: 0.1rem solid #21c49c;
      border-radius: 100%;
      height: 15rem;
      min-width: 15rem;
      background: #fff;
      position: relative;
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .companyInfo {
      margin-left: 2rem;
      padding-right: 3rem;
      p {
        margin-top: 1rem;
      }
    }
  }
}
