@import '../../styles/applications.scss';

.companyMain {
  .company {
    @include flex($align: center, $justify: flex-start);
    padding: 3rem 1rem;
    border-bottom: 0.2rem solid #d8d8d8;

    // .logoBox {
    //   border: 0.1rem solid #21c49c;
    //   border-radius: 100%;
    //   min-width: 10.5rem;
    //   height: 10.5rem;
    //   background: #fff;
    //   position: relative;
    //   img {
    //     position: absolute;
    //     margin: auto;
    //     max-width: 80%;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //   }
    // }
    .companyInfo {
      margin-left: 2rem;
      padding-right: 3rem;
      p {
        margin: 0.4rem 0;
      }
      .website {
        font-size: $text-small;
        color: $green;
        font-weight: 300;
      }
    }
  }
}
@include tablet-breakpoint {
  .companyMain {
    .company {
      align-items: flex-start;
      // .logoBox {
      //   min-width: 9rem;
      //   height: 9rem;
      // }
      .companyInfo {
        margin-top: 0.6rem;
      }
    }
  }
}
@include smallTablet-breakpoint {
  .companyMain {
    .company {
      padding: 2.5rem 1;
      // .logoBox {
      //   min-width: 6.5rem;
      //   height: 6.5rem;
      // }
      .companyInfo {
        margin-left: 1rem;
        margin-top: 0.1rem;
        padding-right: 0;
      }
    }
  }
}
@include mobile-breakpoint {
  .companyMain {
    .company {
      padding: 2rem 1rem;
      align-items: flex-start;
      // .logoBox {
      //   max-height: 4.5rem;
      //   max-width: 4.5rem;
      //   min-height: 4.5rem;
      //   min-width: 4.5rem;
      //   img {
      //     max-width: 90%;
      //   }
      // }
      .companyInfo {
        margin-left: 1rem;
        padding-right: 0;
        margin-top: 0;
        p {
          margin-top: 0rem;
        }
      }
    }
  }
}
