@import '../../styles/applications.scss';

.carousel {
  width: 100vw;
  margin: 1rem 0 0 -1rem;

  .carouselContainer {
    .cuckooCard {
      display: flex;
      align-items: center;
      background-color: $background;
      padding: 0 1rem;
      margin: 0 1.5;
      .cardHolder {
        @include container();
        @include flex($align: center, $justify: flex-start);
        width: 100%;
      }
    }
  }
  .dotsContainer {
    position: initial;
    margin-top: 1rem;
    li {
      button {
        border-radius: 50%;
      }
    }
  }
}
.noCuckoos {
  @include container(50vh);
  @include flex(column);
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  img {
    width: 20%;
    opacity: 0.5;
  }
  h3 {
    color: $light-gray;
    margin-top: 1.5rem;
    opacity: 0.5;
  }
  p {
    margin-bottom: 3.5rem;
    color: white;
    color: $light-gray;
    opacity: 0.5;
  }
  @include smallTablet-breakpoint {
    img {
      width: 30%;
    }
    p {
      margin-bottom: 0;
    }
  }
}
