@import '../../styles/applications.scss';

.carousel {
  width: 100vw;
  margin-left: -1rem;

  .carouselContainer {
    .cuckooCard {
      display: flex;
      align-items: center;
      background-color: $background;
      padding: 0 3rem;
      margin: 0 1.5;
      .cardHolder {
        @include container(fit-content);
      }
    }
  }
  .dotsContainer {
    position: initial;
    margin-top: 0.5rem;
    li {
      button {
        border-style: none;
        outline: none;
        background-color: $green;
        border-radius: 50%;
      }
    }
  }
}
