@import '../../styles/applications.scss';

.carousel {
  width: 100vw;
  margin: 1rem 0 0 -1rem;

  .carouselContainer {
    .cuckooCard {
      display: flex;
      align-items: center;
      background-color: $background;
      padding: 0 1rem;
      margin: 0 1.5;
      .cardHolder {
        @include container();
        @include flex($align: center, $justify: flex-start);
        width: 100%;
        min-height: 50rem;
      }
    }
  }
  .dotsContainer {
    position: initial;
    margin-top: 1rem;
    li {
      button {
        border-radius: 50%;
      }
    }
  }
}
