@import '../../styles/applications.scss';

.button {
  border: none;
  border-radius: 0.5rem;
  color: $green;
  padding: 1rem 1.7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;

  img {
    padding-right: 1.7rem;
  }

  &:hover {
    filter: drop-shadow(-0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2));
  }
}
