@import '../../styles/applications.scss';

.button {
  @include flex();
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.7rem;
  cursor: pointer;
  transition: 0.3s;

  &.green {
    background-color: $green;
    color: #fff;
  }

  &.grey {
    background-color: $background;
    color: $green;
  }

  img {
    padding-right: 1.7rem;
  }

  &:hover {
    filter: drop-shadow(-0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2));
  }
}
