@import '../../styles/applications.scss';

.imageGrid {
  display: flex;
  // @include grid();
  // grid-template-columns: 1fr 1fr;
  // gap: 0rem 1.5rem;

  img {
    width: 100%;
    border-radius: 0.5rem;
  }
}
