@import '../../styles/applications.scss';

.selected {
  border: 0.1rem solid $green;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-size: $annotation;
  background: $green;
  cursor: pointer;
}

.unselected {
  border: 0.1rem solid $green;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  color: $green;
  font-size: $annotation;
  background: none;
  cursor: pointer;
}
