@import '../../styles/applications.scss';

.container {
  @include container();
  max-height: 100vh;
  overflow-y: hidden;

  .calendar {
    width: 100%;
    font-size: 1.6rem;
    font-weight: lighter;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #eef1f0;
  }
}
