@import '../../styles/applications.scss';

.container {
  @include container();
  max-height: 100vh;
  overflow-y: hidden;
  @include tablet-breakpoint {
    @include flex(row, flex-start);
  }
  @include smallTablet-breakpoint {
    @include flex(column, center, flex-start);
    overflow-y: visible;
    max-height: 75vh;
  }

  .calendar {
    width: 100%;
    font-size: 1.6rem;
    font-weight: lighter;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $border-gray;
    @include tablet-breakpoint {
      width: 80%;
      padding-right: 1.5rem;
      border-bottom: none;
      border-right: 0.2rem solid $border-gray;
    }
    @include mobile-breakpoint {
      padding-right: 0;
      border-right: none;
      border-bottom: 0.2rem solid $border-gray;
    }
  }
}
