@import '../../styles/applications.scss';
.upcoming {
  padding: 2rem 0;
  height: 58%;
  overflow-x: hidden;
  overflow-y: scroll;
  @include tablet-breakpoint {
    padding-left: 1.5rem;
    height: 100%;
  }
  @include mobile-breakpoint {
    padding-left: 0;
  }

  h3 {
    color: $green;
  }
  .upcomingCard {
    padding: 2rem 0;
    @include flex($direction: row, $align: center, $justify: flex-start);

    .upcomingDay {
      @include flex($direction: column, $align: center, $justify: flex-start);
      width: max-content;
      h3 {
        color: $gray;
      }
      p {
        text-transform: uppercase;
      }
    }
    .upcomingDescription {
      margin-left: 2rem;
      p {
        color: $light-gray;
      }
    }
  }
}
