@import '../../styles/applications.scss';
.upcoming {
  padding: 2rem 0;
  height: 100%;
  position: relative;
  @include tablet-breakpoint {
    padding: 0 1.5rem;
  }
  @include smallTablet-breakpoint {
    padding: 1.5rem 0;
    padding-left: 0;
  }

  .upcomingTitle {
    position: sticky;
    top: 0;
    background: #fff;
    color: $green;
  }
  .upcomingCard {
    padding: 2rem 0;
    @include flex(row, flex-start);
    .upcomingDescription {
      margin-left: 1.2rem;
      p {
        color: $light-gray;
      }
    }
    h3 {
      text-align: center;
    }
  }
  .eventsScroll {
    overflow-y: scroll;
    height: 30rem;
    padding-bottom: 4rem;
    @include tablet-breakpoint {
      height: 25rem;
      padding-bottom: 0;
    }
    @include smallTablet-breakpoint {
      height: 20rem;
    }
    .upcomingCard {
      .upcomingDay {
        @include flex(column, center, flex-start);
        width: max-content;
        h3 {
          color: $gray;
        }
        p {
          text-transform: uppercase;
        }
      }
    }
  }
}
