@import '../../styles/applications.scss';

.form {
  margin-top: 1rem;
  max-width: 75rem;

  .radioWrapper {
    @include grid(0, 1.6rem, 1fr 1fr);
    width: 80%;
    margin: 0 auto 3rem auto;
  }

  div {
    margin-bottom: 2rem;
  }

  .flexWrapper {
    @include flex($justify: space-between);
    div {
      width: 60%;
      margin-bottom: 0;
      &:last-child {
        width: 38%;
      }
    }
  }

  .gridWrapper {
    @include grid(0, 2rem, 1fr 1fr 1fr 1fr);
  }

  .btnWrapper {
    button {
      width: 100%;
    }
  }
}

@include tablet-breakpoint {
  .form {
    width: 45rem;
    div {
      margin-bottom: 1.2rem;
    }
    .gridWrapper {
      @include grid(2, 1.2rem, 1fr 1fr);
      width: 450px;
    }
  }
}

@include mobile-breakpoint {
  .form {
    width: 28rem;
    .radioWrapper {
      @include grid(0, 0.6rem, 1fr 1fr);
      width: 100%;
      margin: 0 auto 2.3rem auto;
    }
    div {
      margin-bottom: 0.6rem;
    }
    .flexWrapper {
      display: block;
      div {
        &:first-child {
          width: 28rem;
          margin-bottom: 0.7rem;
        }
        &:last-child {
          width: 28rem;
        }
      }
    }
    .gridWrapper {
      @include grid(0, 0.7rem, 1fr 1fr);
      width: 280px;
      div:nth-child(-n + 4) {
        width: 13.65rem;
      }
    }
  }
}
