@import '../../styles/applications.scss';

.contentContainer {
  @include main();
  @include tablet-breakpoint {
    @include main($mainWidth: calc(100vw - 12rem));
  }
  @include mobile-breakpoint {
    @include main($mainWidth: 100vw);
  }
  @include flex($direction: column);

  img {
    height: 20rem;
    width: 20rem;
  }
  h3 {
    margin-top: 3rem;
  }
  .profileSection {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 0.1rem solid #d8d8d8;
    width: 22rem;
    span {
      color: $light-gray;
    }
  }

  .edit {
    color: $green;
  }
  .logout {
    color: $error;
    margin-top: 2rem;
  }
  a:hover {
    opacity: 0.5;
  }
}
