@import '../../styles/applications.scss';

.sidebar {
  background-color: $gray;
  width: 20rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 5rem 0;

  img {
    width: 20rem;
    display: block;
    box-sizing: border-box;
    padding: 0 2rem;
  }
  .img2 {
    display: none;
  }

  ul {
    margin-top: 4rem;
    li {
      padding: 0 0.5rem;
      a {
        display: flex;
        justify-content: flex-start;
        padding: 1.8rem;
        border-radius: 1rem;
        color: $green;
        img {
          width: 2rem;
          display: flex;
          margin: 0;
          padding: 0;
        }
        span {
          margin-left: 2rem;
        }
        &:hover {
          background: $dark-gray;
        }
      }
    }
  }
  .mobileMenu {
    display: none;
    position: fixed;
    bottom: 0;
    background: $gray;
    width: 100vw;
    ul {
      margin-top: 0;
      li {
        display: flex;
        a {
          justify-content: center;
          margin: auto;
          padding: 1.5rem 1.8rem;
          img {
            width: 2rem;
          }
          span {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 980px) {
    width: 15rem;
    padding: 3rem 0;
    img {
      display: none;
    }
    .img2 {
      display: block;
      width: 11.5rem;
      margin: auto;
    }
    ul {
      li {
        a {
          flex-direction: column;
          align-items: center;
          img {
            width: 4rem;
          }
          span {
            margin: 0;
            margin-top: 1rem;
          }
        }
      }
    }
    .mobileMenu {
      display: none;
    }
  }

  @media screen and (max-width: 440px) {
    width: 0vw;
    .img2 {
      display: none;
    }
    .desktopMenu {
      display: none;
    }
    .mobileMenu {
      display: block;
    }
  }
}
