@import '../../styles/applications.scss';

.sidebar {
  background-color: $gray;
  width: 20rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 5rem 0;

  img {
    width: 20rem;
    display: block;
    box-sizing: border-box;
    padding: 0 2rem;
  }

  ul {
    margin-top: 4rem;
    li {
      padding: 0 0.5rem;
      a {
        display: flex;
        justify-content: flex-start;
        padding: 1.8rem;
        border-radius: 1rem;
        color: $green;
        img {
          width: 2rem;
          display: flex;
          margin: 0;
          padding: 0;
        }
        span {
          margin-left: 2rem;
        }
        &:hover {
          background: $dark-gray;
        }
      }
    }
  }
}
