.sidebar {
  background-color: #1f1f1f;
  float: left;
  width: 15vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 4% 2%;

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
