@import '../../styles/applications.scss';

.content {
  @include main($mainWidth: 85%, $mainHeight: 90vh);

  .filters {
    @include container();
    width: 30%;
    margin-right: 4%;
    height: fit-content;
  }
}
