@import '../../styles/applications.scss';

.content {
  @include main();
  @include grid();

  grid-template-columns: 1fr 2fr;
  gap: 0rem 3rem;

  .filters {
    @include container();
    height: fit-content;
  }
}
