@import '../../styles/applications.scss';

.contentContainer {
  @include main(100vw, 100vh);
  @include flex(column);

  img {
    width: 25rem;
    min-height: 25rem;
    @include mobile-breakpoint {
      width: 17rem;
      min-height: 17rem;
    }
  }
  h1 {
    padding: 2rem 0 4rem 0;
  }
}
