@import '../../styles/applications.scss';

.appWrapper {
  @include flex();
  overflow: hidden;
  height: 100vh;
  @include mobile-breakpoint {
    flex-direction: column-reverse;
    overflow: visible;
    height: auto;
  }
}
