@import '../../styles/applications.scss';

.radioInnerWrapper {
  position: relative;
  height: 4.5rem;
  @include mobile-breakpoint {
    height: 3.8rem;
  }

  input[type='radio'] {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    padding: 0;

    &:checked {
      background-color: $green;
      ~ label {
        color: white;
      }
    }
    &:focus ~ label {
      transform: translate(-50%, -50%);
    }
    ~ label {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $text;
      color: $green;
      padding: 0;
      background: transparent;
      @include mobile-breakpoint {
        font-size: 1.4rem;
      }
    }
  }
}
