@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $rubik;
  color: $gray;
}

h1 {
  font-family: $sora;
  font-size: $title;
  font-weight: 600;
}

h3 {
  font-family: $sora;
  font-size: $subtitle;
  font-weight: 600;
}

p {
  font-size: $text;
  font-weight: 300;
  line-height: 150%;
}

span {
  font-size: $text;
}

a,
button {
  font-size: $text;
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style: none;
}
