@import './variables.scss';
@import './responsiveness.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $rubik;
  color: $gray;
  background: $background;
}

h1 {
  font-family: $sora;
  font-size: $title;
  font-weight: 600;
  @include mobile-breakpoint {
    font-size: 2rem;
  }
}

h3 {
  font-family: $sora;
  font-size: $subtitle;
  font-weight: 600;
  @include mobile-breakpoint {
    font-size: 1.6rem;
  }
}

h4 {
  font-family: $sora;
  font-size: $text;
  font-weight: 600;
}

p {
  font-size: $text;
  font-weight: 300;
  line-height: 150%;
  @include mobile-breakpoint {
    font-size: 1.4rem;
  }
}

span {
  font-size: $text;
  @include mobile-breakpoint {
    font-size: 1.4rem;
  }
}

a,
button {
  font-family: $rubik;
  font-size: $text;
  text-decoration: none;
  font-weight: 400;
  border: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:visited,
  &:link,
  &:hover {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  @include mobile-breakpoint {
    font-size: 1.4rem;
  }
}

ul {
  list-style: none;
}

input,
textarea,
select,
option {
  font-family: $rubik;
  font-size: $text-small;
  @include mobile-breakpoint {
    font-size: 1.2rem;
  }
}
input,
textarea,
select {
  display: block;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $gray;
  border: 0.1rem solid $green;
  border-radius: 5px;
  width: 100%;
  padding: 2.8rem 2rem 0.8rem 2rem;
  outline: none;
  transition: 0.1s ease all;
  @include mobile-breakpoint {
    padding: 1.8rem 0.3rem 0.8rem 0.9rem;
  }
}

textarea {
  resize: none;
}
label {
  width: 95%;
  position: absolute;
  pointer-events: none;
  left: 2rem;
  top: 0.1rem;
  padding-top: 1.8rem;
  transition: 0.1s ease all;
  color: $light-gray;
  font-family: $rubik;
  font-size: $text-small;
  @include mobile-breakpoint {
    font-size: 1.2rem;
    left: 1rem;
    padding-top: 1.3rem;
  }
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  padding-top: 0.9rem;
  transform: none;
  font-size: 1.2rem;
  @include mobile-breakpoint {
    font-size: 1rem;
    padding-top: 0.7rem;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $background inset !important;
}
