@mixin main($mainWidth: calc(100vw - 20rem), $mainHeight: 90vh, $mainBackground: $background) {
  width: $mainWidth;
  height: $mainHeight;
  background-color: $mainBackground;
  padding: 3rem;
}

@mixin container($height: initial) {
  background-color: #fff;
  box-shadow: 0 0 2.4rem -1.5rem rgba(0, 16, 12, 0.57);
  border-radius: 1.5rem;
  padding: 3rem 3rem;
  height: $height;
}

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin formField($fieldHeight: auto, $fieldWidth: 100%) {
  position: relative;
}

@mixin grid($gap-row, $gap-column, $template-column) {
  display: grid;
  gap: $gap-row $gap-column;
  grid-template-columns: $template-column;
}
