@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap');

$green: #21c49c;
$background: #eef1f0;
$light-gray: #666666;
$gray: #1f1f1f;
$dark-gray: #101010;

$rubik: 'Rubik', sans-serif;
$sora: 'Sora', sans-serif;
